<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAMERCRASHERS - Sobre nos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/pagina_de_sobre_nos.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/geral_css.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <a href="{% url 'paginaPrincipal' %}"><img src="{% static 'img/G.png' %}" alt="Imagem 1"></a>
        </div>
        <nav>
            <a href="{% url 'paginaInscricao' %}" class="nav-button">Me Inscrever</a>
            <a href="{% url 'paginaIncritos' %}" class="nav-button">Participantes</a>
            <a class="nav-button" id="moreButton">Mais</a>
            <div class="more-nav" id="moreNav">
                <a href="mailto:suporte.gamercrashers@gmail.com" class="nav-button">Suporte</a>
                <a href="{% url 'paginaAboutUs' %}" class="nav-button">Sobre nós</a>
            </div>
        </nav>
    </header>
    
    <div class="content">
        <div class="texto">
            <p>Somos uma organizadora de campeonatos de fãs para fãs, operando desde 2020. Iniciamos com campeonatos online e conseguimos crescer desde então, oferecendo eventos que proporcionam diversão, competição e comunidade para os entusiastas de jogos. Nosso objetivo é criar experiências memoráveis e inclusivas para todos os jogadores, promovendo o espírito esportivo e celebrando a paixão pelos jogos.</p>
        </div>
    </div>

    <script src="{% static 'js/geral_js.js' %}"></script>

</body>
</html>